@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/IranSansFarsiNums/IRANSans-FaNum.ttf");
}

@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/IranSansFarsiNums/IRANSans-FaNum-_Medium.ttf");
}

@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/IranSansFarsiNums/IRANSans-FaNum-_Black.ttf");
}

@font-face {
  font-family: "IranSans";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/IranSansFarsiNums/IRANSans-FaNum-_Bold.ttf");
}
