@import "fonts";

* :not(.no-transition) {
  transition: background-color 0.3s linear;
}

.rtl{
  direction: rtl;
  font-family: IranSans, serif !important;
  --font-family: IranSans, serif !important;
  .p-dropdown-filter{
    transform: translate(-30px, 0);
  }
}

body {
  //@extend .rtl;
  font-family: SansPro, serif !important;
  --font-family: SansPro, serif !important;
  scrollbar-width: none;
  -ms-overflow-style: none;
  user-select: none;
}



input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
}

.center-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.center-content-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.space-x-4 > *{
  margin-left: 0.5rem;
}

.space-x-2 > *{
  margin-left: 0.25rem;
}

.space-y-4 > *{
  margin-bottom: 0.5rem;
}
